.hero {
  background-image: url(../images/presentacion.jpeg);
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer a :hover {
  color: rgb(169, 167, 167);
}

footer a {
  color: white;
}

li{
  list-style-type: none;
}

nav li:hover{
  background-color:rgb(249, 132, 132);
}

.tarjet:hover{
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  transition:all 0.3s;
}



